   <!-- Own CSS -->
  <link href="stylesheets/style.css" rel="stylesheet">
  
  <div class="wrapper">
    <div class="sidebar">
    <img src="./img/wiseMonkeyLogo.png" alt="logo">
    <i class="fas fa-sign-out-alt"><a href="/logout"> Sign Out</a></i>
        
        <ul>
         <div id="users" class="users"></div>

        </ul> 
    </div>
  </div>

  <div class="container">

    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2>Welcome <span class="member-name"></span></h2>
      </div>
    </div>

    <li class="chat page">
      <div class="return"></div>
      <div class="chatStatus"></div>  
      <div class="popupMessages" id="popUpMessages"></div>
      <div class="chatArea">
        <ul class="messages"></ul>
      </div>
      <input class="inputMessage" placeholder="Type here..."/>
    </li>
  </div>
