{{!-- <link rel="stylesheet" href="stylesheets/emojionearea.min.css"> --}}
<link href="stylesheets/style.css" rel="stylesheet">

<div class="container">
  <div class="flex-grid">
    <aside class="col sidebar">
      <img id="logo" src="./img/wiseMonkeyLogo.png" alt="logo">

      <div class="sideMenu">
        <i class="fas fa-sign-out-alt"><a href="/logout"> Sign Out</a></i>
        <div id="users" class="users"></div>
      </div>
    </aside>
    <section class="col main">
      
      <h2>Welcome <span class="member-name"></span></h2>
      <div class="statusHeader">
        <div class="chatStatus"></div>
        <div class="popupMessages" id="popUpMessages"></div>
      </div>
      
      <div class="return"><i class="far fa-arrow-alt-circle-left fa-3x"></i></div>
      <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
  Tooltip on top
</button>
      <div class="chat page">
        <div class="chatArea">
          <ul class="messages"></ul>
        </div>
      </div>

    </section>
  </div>
</div>

<input id="emoji" class="inputMessage" placeholder="Type here..."/>

