   <!-- Own CSS -->
  <link type="text/css" href="stylesheets/style.css" rel="stylesheet">
  
  <div class="wrapper">
    <div class="sidebar">
    <img src="./img/wiseMonkeyLogo.png" alt="logo">
    <i class="fas fa-sign-out-alt"><a href="/logout"> Sign Out</a></i>
        
        <ul>
            <li></li>
            <li>Username2</li>
            <li>Username3</li>
            <li>Username4</li>
            <li>Username5</li>
            <li>Username6</li>
            <li>Username7</li>
        </ul> 
    </div>
  </div>

  <div class="container">

    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2>Welcome <span class="member-name"></span></h2>
      </div>
    </div>

    <li class="chat page">
      <div class="chatArea">
        <ul class="messages"></ul>
      </div>
      <input class="inputMessage" placeholder="Type here..."/>
    </li>
  </div>
