<link href="stylesheets/style.css" rel="stylesheet">

<div class="container">
  <div class="flex-grid">

    <!-- Modal -->
    <div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="profileModalLabel">My Profile</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <img id="avatar" alt="avatar image" src="">

            <form id="uploadForm" enctype="multipart/form-data" action="/api/avatar" method="post">
              <div id="uploadBtn">
                <input class="uploadBtn" type="submit" value="Upload Image" name="submit"><span id="status"></span>
                <input type="file" name="userAvatar">
              </div>
            </form>

            <form id="updateUser" action="/api/updateUser" method="put">

              <div class="form-group row">
                <label class="col-sm-2 col-form-label">About Me: </label>
                <div class="col-sm-10">
              
                </div>
              </div>

    <textarea id="bio" name="bio" class="form-control" aria-label="With textarea" ></textarea>


              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Likes: </label>
                <div class="col-sm-10">
                  <input data-focus="true" type="text" id="likes" name="likes" class="form-control">
                </div>
              </div>
                 <div class="form-group row">
                <label class="col-sm-2 col-form-label">Location: </label>
                <div class="col-sm-10">
                   <input type="text" id="location" name="location" class="form-control">
                </div>
              </div>
                 <div class="form-group row">
                <label class="col-sm-2 col-form-label">Email: </label>
                <div class="col-sm-10">
                   <input type="text" id="email" name="email" class="form-control">
                </div>
              </div>
                 <div class="form-group row">
                <label class="col-sm-2 col-form-label">Phone: </label>
                <div class="col-sm-10">
                  <input type="text" id="phone" name="phone" class="form-control">
                </div>
              </div>

              {{!-- <button type="submit" id="updateBtn">Update User</button> --}}
            </form>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
            <button type="submit" id="updateBtn" class="btn btn-light">Save changes</button>
          </div>
        </div>
      </div>
    </div>














    <aside class="col sidebar">
      <img id="logo" src="./img/wiseMonkeyLogo.png" alt="logo">

      <div class="sideMenu">
        <div class="sideLink"><i class="fas fa-sign-out-alt"><a href="/logout"> Sign Out</a></i></div>
        <div class="sideLink" data-toggle="modal" data-target="#profileModal"><i class="fas fa-user-circle"></i> My
          Profile</div>
        <div id="users" class="users"></div>
      </div>
    </aside>

    <section class="col main">

      <h2>Welcome <span class="member-name"></span></h2>
      <div class="statusHeader">
        <div class="chatStatus"></div>
        <div class="popupMessages" id="popUpMessages"></div>
      </div>

      <div class="return"><i class="far fa-arrow-alt-circle-left fa-3x" data-toggle="tooltip" data-placement="right"
          title="Return to Public Chat"></i></div>

      <div class="chat page">
        <div class="chatArea">
          <ul class="messages"></ul>
        </div>
      </div>

    </section>
  </div>
</div>

<input id="emoji" class="inputMessage" placeholder="Type here..." />