  <!-- Own CSS -->
	<link href="stylesheets/styleLogin.css" rel="stylesheet">

  <img src="./img/wiseMonkeyLogo.png" alt="logo">

  <div class="container">
    <div class="row loginContent">
      <div class="col-md-6 offset-md-3">
        <h1>Gorilla's In The Mist</h1>
        <p id="subTitle">Anonymous Web Chat Application</p>
        <span id="accessDenied" hidden>Incorrect Account Details</span>
        <form class="login">
          <div class="form-group">
            <label for="exampleInputUsername1">Username</label>
            <input type="username" class="form-control" id="username-input" placeholder="Enter Username..." maxlength="8">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="password-input" placeholder="Enter Password...">
          </div>
          <div style="display: none" id="alert" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span> <span class="msg"></span>
          </div>
          <div class="loginBtn">
            <button type="submit" class="btn btn-light">LOGIN</button>
            <p class="loginSignUpHere">Or Sign Up <a href="/signup">Here</a></p>
          </div>
        </form>
      </div>
    </div>
  </div>