<label>Avatar Image</label>
<img alt="avatar image" src="uploads/placeholder.png">
<form id="uploadForm" enctype="multipart/form-data" action="/api/avatar" method="post">
  
  <input type="file" id="avatar" name="userAvatar">
  <input type="submit" value="Upload Image" name="submit">
  <span id = "status"></span>
</form>

<form id="updateUser" action="/api/updateUser" method="put"> 
  <label>Bio:</label>
  <input type="text" id="bio" name="bio">
  <br />
  <label>Location:</label>
  <input type="text" id="location" name="location">
  <br />
  <label>Likes:</label>
  <input type="text" id="likes" name="likes">
  <br />
  <label>Email:</label>
  <input type="text" id="email" name="email">
  <br />
  <label>Phone:</label>
  <input type="text" id="phone" name="phone">
</form>  

<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
<script>
  $(document).ready(function() {

     $('#uploadForm').submit(function() {
		 $("#status").empty().text("File is uploading...");

        $(this).ajaxSubmit({

            error: function(xhr) {
		            status('Error: ' + xhr.status);
            },

            success: function(response) {
					console.log(response)
					$("#status").empty().text(response);
          }
	});

	return false;
  });    
});
</script>