<label>Avatar Image</label>
<img id="avatar" alt="avatar image" src="">
<form id="uploadForm" enctype="multipart/form-data" action="/api/avatar" method="post">
  
  <input type="file" name="userAvatar">
  <input type="submit" value="Upload Image" name="submit">
  <span id = "status"></span>
</form>

<form id="updateUser" action="/api/updateUser" method="put"> 
  <label>Bio:</label>
  <input type="text" id="bio" name="bio">
  <br />
  <label>Location:</label>
  <input type="text" id="location" name="location">
  <br />
  <label>Likes:</label>
  <input type="text" id="likes" name="likes">
  <br />
  <label>Email:</label>
  <input type="text" id="email" name="email">
  <br />
  <label>Phone:</label>
  <input type="text" id="phone" name="phone">
  <button type="submit" id="updateBtn">Update User</button>
</form>  
