/* Background */
body {
  background: url(../img/ChatBackground.jpg);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-attachment: fixed;
  line-height: 1.5;
  font-size: 1rem;
}

  /* Logo */
  img {
    transform: scale(0.3, 0.3);
    position: absolute;
    left: -150px;
    top: -30px;
  }

/* Welcome & Sign Out font */
h2, a {
  font-family: 'Julius Sans One', sans-serif;
}

a {
  color: black;
  text-decoration-style: none;
}

/* SideBar  */

.wrapper{
  display: flex;
  position: relative;
}

.wrapper .sidebar{
  width: 200px;
  height: 100%;
  background:url(../img/MistBackground.jpg);
  padding: 80px 0px;
  position: fixed;
}

.wrapper {
  color: black;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}   

/* Chat page */

.chat.page {
  display: none;
}

/* User Joined/Left Logs  */
.log {
  color: gray;
  font-size: 70%;
  margin: 5px;
  text-align: center;
}

/* Messages */

.chatArea {
  height: 100%;
  padding-bottom: 60px;
}

/* User Typing Preview */
.message.typing .messageBody {
  color: gray;
}


.username {
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

/* User Input Message Box */

.inputMessage {
  font-size: 100%;
  border: 3px solid #000;
  bottom: 0;
  height: 60px;
  left: 0;
  outline: none;
  padding-left: 10px;
  position: absolute;
  right: 0;
  width: 100%;
}

/* Pages */

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Fix user-agent */

* {
  box-sizing: border-box;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

li {
  list-style:none;
  font-size: large;
}

 
