/* Background */
body {
    background: url(../img/MistBackground.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-attachment: fixed;
  }
  
  /* Logo */
  img {
    transform: scale(0.3, 0.3);
    position: absolute;
    left: -150px;
    top: -30px;
  }
  
  /* App Title */
  h1 {
    text-align: center;
    font-family: 'Montserrat Subrayada', sans-serif;
  }
  
  p {
    text-align: right;
    font-size: large;
    font-weight: 500;
    margin-bottom: 200px;
    font-family: 'Julius Sans One', sans-serif;
  }
  
  /* Login Content - title, field input, buttons */
  .loginContent {
    /* background: yellow; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
  }
  
  /* Username & Password Text Input */
  label {
    color: floralwhite;
    font-weight: bolder;
    font-family: 'Julius Sans One', sans-serif;
  }
  
  #email-input, #password-input {
    width: 100%;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 0px 16px 0px 16px;
    border-bottom: 3px solid silver;
    transition: 0.2s ease-out;
  }
  
  #email-input:focus, #password-input:focus {
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  /* login & New User Btn */
  .loginBtn {
    text-align: center;
  }
  
  .btn-light {
    margin-right: 20px;
    background: transparent;
    color: floralwhite;
  }