/* Background */
body {
  background: url(../img/ChatBackground.jpg);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-attachment: fixed;
  line-height: 1.5;
  font-size: 1rem;
}

/* Logo */
#logo {
  transform: scale(0.3, 0.3);
  position: absolute;
  left: -150px;
  top: -30px;
}

/* Welcome & Sign Out font */
h2, a, html, input {
  font-family: 'Julius Sans One', sans-serif;
}

a {
  color: black;
  text-decoration-style: none;
}

.container {
  max-width: 100vw;
  padding: 0px;
  line-height: 1.5;
}

.flex-grid {
  display: flex;
}

.col {
  padding: 1rem;
}

.sidebar {
  background:url(../img/MistBackground.jpg);
  flex: 1;
}

.sideMenu {
  color: black;
  height: 90vh;
  text-transform: uppercase;
  padding: 60px 30px 0px 30px;
}

/* Chat Area */

.main {
  flex: 6;
  text-align: center;
}

.chat {
  text-align: left;
  display: flex;
  flex-direction: column-reverse;
  height: 65vh;
  overflow-y: scroll;
  padding-right: 20px;
}

/* Landing Messages */

.chatStatus {
font-weight:  bolder;
font-family: 'Julius Sans One', sans-serif;
}

.popupMessages {
  color: cadetblue;
  font-family: 'Julius Sans One', sans-serif;
}

.statusHeader {
	animation: pulse-white 3s infinite;
}

@keyframes pulse-white {
	0% {
		transform: scale(0.9);
	}
	
	70% {
		transform: scale(0.95);
	}
	
	100% {
		transform: scale(0.9);
	}
}

.return {
  text-align: left;
  cursor: pointer;
}

/* User Typing Preview */
.message.typing .messageBody {
  color: gray;
}

.username {
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

/* User Input Message Box */

.inputMessage {
  font-size: 100%;
  border: 3px solid black;;
  bottom: 0;
  height: 10vh;
  left: 0;
  outline: none;
  padding-left: 10px;
  position: fixed;
  right: 0;
  width: 100vw;
}

/* Fix user-agent */


ul {
  list-style: none;
  word-wrap: break-word;
}

li {
  padding: 10px 5px 10px 5px;
  list-style:none;
  font-size: large;
}

.userList:hover {
  color: white;
  border: solid white;
  cursor: pointer;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: transparent;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
}